[package]
name = "orbit-load-config"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
orbit-core = { path = "../../crates/orbit-core" }
